In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
# numpy.arrayに似ている。
# 違いは、データにラベル（インデックス、何行目か）があるところ
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
# seriesに「.values」で、ラベル（インデックス、何行目か）を外して値が返ってくる
# values」やから値だけ。
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [7]:
# indexのみを表示
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
# seriesのカッコ内で、「index」を使うと、各データ（値）にラベルを付けられる。
# 第二次世界大戦の死傷者
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [10]:
# 文字列のindexでアクセスできる。
ww2_cas['USA']

400000

In [11]:
# 400万人以上の死傷者を出力。
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [13]:
############ USSR があるか？
'USSR' in ww2_cas

True

In [16]:
################################「.to_dict()関数」で辞書型に変換。
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [18]:
# 辞書をSeriesすれば、Seriesを作れる。
WW2_Series = Series(ww2_dict)

In [19]:
WW2_Series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [26]:
# indexを明示的に与えることができます。たとえば・・・
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [27]:
# 別のSeriesを作ります
obj2 = Series(ww2_dict,index=countries)

In [28]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [31]:
# nullデータがあるかどうかを確認できます
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [32]:
# 逆のこともできます。
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [34]:
# もとのデータに戻りましょう。
WW2_Series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [35]:
# 
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [36]:
# 両方のデータを足すと、pandasが自動的に、indexでまとめてくれます。
WW2_Series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [37]:
# Seriesに名前を付けられます。
obj2.name = '第二次世界大戦の死傷者'
# Python2の場合は、uが必要です。

In [38]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [39]:
# indexに名前を付けることも可能
obj2.index.name = 'Countries'

In [40]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64