In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# 単純なアレイを用意します。
arr1 = np.arange(9).reshape((3,3))

In [3]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [4]:
# 2つのアレイを列方向（axis=1）に連結します
# concatenateで結合
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [5]:
# 行方向（axis=0）に
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [6]:
# pandas.Seriesでやってみます。
ser1 =  Series([0,1,2],index=['T','U','V'])
ser2 = Series([3,4],index=['X','Y'])
# concatで、デフォルトは axis=0
pd.concat([ser1,ser2,ser1])

T    0
U    1
V    2
X    3
Y    4
T    0
U    1
V    2
dtype: int64

In [7]:
# 列方向に連結すると、DataFrameが出来ます。
pd.concat([ser1,ser2],axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [8]:
# 階層的なindexを付けてSeriesを連結することもできます。
pd.concat([ser1,ser2],keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [9]:
# 列方向に連結すると、列の名前になります。
pd.concat([ser1,ser2],axis=1,keys=['cat1','cat2'])

   cat1  cat2
T   0.0   NaN
U   1.0   NaN
V   2.0   NaN
X   NaN   3.0
Y   NaN   4.0

In [10]:
# DataFrameでも同じ事ができます。
dframe1 = DataFrame(np.random.randn(4,3), columns=['X', 'Y', 'Z'])
dframe2 = DataFrame(np.random.randn(3, 3), columns=['Y', 'Q', 'X'])

In [11]:
dframe1

          X         Y         Z
0 -1.058439  0.150755  0.279467
1  1.085937  0.603330  0.179743
2  2.265668  0.230727  1.264125
3 -0.702460 -0.195766  1.762942

In [12]:
dframe2

          Y         Q         X
0 -1.091309 -1.564680 -0.298478
1 -0.288880  1.040998 -0.840873
2 -1.819036 -1.166021 -0.164989

In [13]:
# DataFrameを連結します。
pd.concat([dframe1,dframe2])

          Q         X         Y         Z
0       NaN -1.058439  0.150755  0.279467
1       NaN  1.085937  0.603330  0.179743
2       NaN  2.265668  0.230727  1.264125
3       NaN -0.702460 -0.195766  1.762942
0 -1.564680 -0.298478 -1.091309       NaN
1  1.040998 -0.840873 -0.288880       NaN
2 -1.166021 -0.164989 -1.819036       NaN

In [14]:
# もとのindexを無視することもできます。
pd.concat([dframe1,dframe2],ignore_index=True)

          Q         X         Y         Z
0       NaN -1.058439  0.150755  0.279467
1       NaN  1.085937  0.603330  0.179743
2       NaN  2.265668  0.230727  1.264125
3       NaN -0.702460 -0.195766  1.762942
4 -1.564680 -0.298478 -1.091309       NaN
5  1.040998 -0.840873 -0.288880       NaN
6 -1.166021 -0.164989 -1.819036       NaN

In [15]:
# We can specify which specific axes to be used
pd.concat([ser1,ser2],axis=1,join_axes=[['U','V','Y']])

     0    1
U  1.0  NaN
V  2.0  NaN
Y  NaN  4.0

In [16]:
# 公式ドキュメントはこちらです。
url='http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html'